#button {
  background-color: green
}
h2 {
    color: white;
    text-align: center;
    font-family: Brush Script MT;
}
#backfromlinks2 {
    color: black
}
h1 {
    color: white;
    text-align: center;
    font-family: Brush Script MT;
}
div {
    text-align: center;
}
var {
    color: white;
    text-align: center;
    font-family: Brush Script MT;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

#myProgress {
  width: 100%;
  background-color: grey;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#title {
  top: 50%;
}
#content {
position: relative;
}
#content p {
position: absolute;
top: 0px;
right: 0px;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loader {
  left: 0;
  right: 0;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
a {
    color: white;
    text-align: center;
    font-family: Brush Script MT;
}
.centeralign {
    text-align: center;
}
p {
    color: white;
    text-align: center;
    font-family: Brush Script MT;
}
h3 {
    color: white;
    text-align: center;
    font-family: Brush Script MT;
}
h4 {
    color: white;
    font-family: Brush Script MT;
}
.hexrain {
    background-image: url(/images/hexrain.gif);
}
#clicks {
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    color: neongreen;
}
.buttonimg {
   border-radius: 50%;
}

.player1name {
  color: gold;
}

.white-text {
  color: white;
}

.prestigeshopsection {
  display: none;
}

.shopsection {
  display: block;
}

.upgradesection {
  display: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-image: url(/images/hackrain.gif);
}

/* Control the right side */
.right {
  background-image: url(/images/hexrain.gif);
}

.g-ytsubscribe {
  text-align: center;
}